@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .heading-1 {
        margin-right: 8vw;
    }

    .heading-5 {
        z-index: 0;
    }

    .background-container {
        width: 100vw;
        height: 100vh;
        background: #333 url(../images/arlo-dobermann-cover.webp) no-repeat center center;
        background-size: 200%;
        background-position: calc(50% - 20px) 30%;
        background-attachment: fixed;
       
    }
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 40vh;
        margin-top: 40vh;
    }
     
        img#hamburger {
            display: block;
            margin-top: 3vh;
            /* Show on mobile screens */
        }
    
        #nav-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: #333;
        }
    
        #nav-list.active {
            display: flex;
        }
    
        .nav-link li {
            text-align: center;
            padding: 1rem 0;
            border: 1px solid #fff;
        }

        .nav-link a {
            width: 80%;
            text-align: center;
            
            
        }
    
        .dropdown-menu {
            position: absolute;
            top: 2vh;
            left: 90vh;
            background-color: #444;
            display: none;
            z-index: 1000;
        }
    
        .dropdown.active .dropdown-menu {
            display: block;
            z-index: 1000;
        }

    .cta-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3rem;
        
    }
    .cta-link {
        text-align: center;
        
    }

    .arlo-list {
        margin-right: 2.5vw;
    }

    .store-logo-img {
        display: none;
        width: 3.5rem;
        height: 5rem;
    }

    .heading-store {
        width: 98vw;
        height: 10vh;
    }
    
    iframe.widget {
        width: 100%vw;
        height: 100%vh;
    }

    div.story-image-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    div.hero-section {
        display: flex;
        padding: 0;
        margin: 0;
    }
    p.story-text, p.diary-text {
        display: block;
        text-align: left;
        margin-left: 10vw;
        width: 80%;
        margin-right: 10vw;

    }

    p.diary-text {
        font-size: 1.25em;
    }
    .video-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        
        
    }
    .video-content {
        max-width: 100%;
    }
 
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .video-flex {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 10px;
    }

    div.story-image-div {
        display: flex;
        max-width: 100% !important;
        width: 90%;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        }
}