@media screen and (max-width: 500px) {
    h1 {
        font-size: 2rem;
        text-align: center;
    }
    
    .heading-1 {
        margin-right: 8vw;
    }
    .background-container {
        width: 100vw;
        height: 100vh;
<<<<<<< HEAD
        background-image: url(../images/arlo-dobermann-cover.webp);
=======
        background: #333 url(../images/arlo-dobermann-cover.webp) no-repeat center center;
>>>>>>> decf727acb19a9203ed3345149fd0da7d1a1c38a
        background-size: 200%;
        background-position: calc(50% - 20px) 30%;
        background-attachment: fixed;
       
    }
    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-top: 40vh;
    }
     
        img#hamburger {
            display: block;  /* Show on mobile screens */
        }
    
        #nav-list {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: #333;
        }
    
        #nav-list.active {
            display: flex;
        }
    
        .nav-link li {
            text-align: center;
            padding: 1rem 0;
            border: 1px solid #fff;
        }

        .nav-link a {
            width: 80%;
            text-align: center;
            
            
        }
    
        .dropdown-menu {
            position: absolute;
            top: 2vh;
            left: 90vh;
            background-color: #444;
            display: none;
        }
    
        .dropdown.active .dropdown-menu {
            display: block;
        }

    .cta-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cta-link {
        text-align: center;
        margin-left: 20vw;
    }

    .arlo-list {
        margin-right: 2.5vw;
    }
    
    
}

