    <footer>
        <h2 class="social-footer">Social Media</h2>
        <ul class="social-list">
          <li class="social-link">
            <a href="{{ site.social.facebook }}"
              aria-label="Arlo Dobermann Facebook"
              target="_blank"
              rel="noopener">
              <img src="{{ '/images/icons8-facebook-48.png' | relative_url }}" alt="Arlo Dobermann Facebook page">
            </a>
          </li>
          <li class="social-link">
            <a href="{{ site.social.instagram }}"
              aria-label="Arlo Dobermann Instagram"
              target="_blank"
              rel="noopener">
              <img src="{{ '/images/icons8-instagram-48.webp' | relative_url }}" alt="Arlo Dobermann Instagram profile">
            </a>
          </li>
        </ul>
        <p class="site-credit">
        Website design by <a href="https://bluedobiedev.com">Bluedobie Developing</a>
        </p>
    </footer>
