        <div class="nav-container">
          <a href="{{ '/' | relative_url }}" aria-label="home page"><img class="nav-logo" src="{{ '/images/arlo-logo.png' | relative_url }}" alt="Arlo Dobermann's logo"></a>
          <div class="hamburger"><img id="hamburger" src="{{ '/images/icons8-hamburger-menu-48.png' | relative_url }}" alt="hamburger icon">
            <ul class="nav-list" id="nav-list">
{%- for item in site.nav %}
                <li class="nav-link"><a href="{{ item.url | relative_url }}" aria-label="{{ item.label }}">{{ item.title }}</a></li>
{%- endfor %}
            </ul>
          </div>
        </div>
